In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('auto-mpg.csv')

In [3]:
#select top n number of records(default=5)
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
#select bottom n number of records(default=5)
data.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [5]:
#select all the coloumns
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [7]:
#to check the datatype of each coloumn
data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [9]:
#check the number of rows and columns of dataframe
data.shape

(398, 9)

In [10]:
#the info method gives the column datatypes and the number of non-null values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

## Slicing in DataFrame

In [11]:
#select one column using double square brackets
data[['car name']].head()

                    car name
0  chevrolet chevelle malibu
1          buick skylark 320
2         plymouth satellite
3              amc rebel sst
4                ford torino

In [12]:
#selecting multiple columns using double brackets
data[['car name','weight']].head()

                    car name  weight
0  chevrolet chevelle malibu    3504
1          buick skylark 320    3693
2         plymouth satellite    3436
3              amc rebel sst    3433
4                ford torino    3449

In [13]:
type(data[['car name','weight']].head())

pandas.core.frame.DataFrame

In [14]:
type(data['car name'].head())

pandas.core.series.Series

## Slicing in Series

In [15]:
data['car name'][0:10]

0    chevrolet chevelle malibu
1            buick skylark 320
2           plymouth satellite
3                amc rebel sst
4                  ford torino
5             ford galaxie 500
6             chevrolet impala
7            plymouth fury iii
8             pontiac catalina
9           amc ambassador dpl
Name: car name, dtype: object

In [16]:
data['car name'][:10]

0    chevrolet chevelle malibu
1            buick skylark 320
2           plymouth satellite
3                amc rebel sst
4                  ford torino
5             ford galaxie 500
6             chevrolet impala
7            plymouth fury iii
8             pontiac catalina
9           amc ambassador dpl
Name: car name, dtype: object

In [19]:
data['car name']

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: car name, Length: 398, dtype: object

## Selecting columns using loc

In [24]:
#pandas dataframe
data.loc[:,['car name']]

                      car name
0    chevrolet chevelle malibu
1            buick skylark 320
2           plymouth satellite
3                amc rebel sst
4                  ford torino
..                         ...
393            ford mustang gl
394                  vw pickup
395              dodge rampage
396                ford ranger
397                 chevy s-10

[398 rows x 1 columns]

In [25]:
#panda series
data.loc[:,'car name']

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: car name, Length: 398, dtype: object

In [27]:
#slicing
data.loc[3:10,['car name','weight']]

               car name  weight
3         amc rebel sst    3433
4           ford torino    3449
5      ford galaxie 500    4341
6      chevrolet impala    4354
7     plymouth fury iii    4312
8      pontiac catalina    4425
9    amc ambassador dpl    3850
10  dodge challenger se    3563

## Data filtering

In [31]:
#count each type of cars
data['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

In [41]:
#looking for a particular type
car4 = data['cylinders']==4

In [42]:
#car will be seires with index and true or false value
car4

0      False
1      False
2      False
3      False
4      False
       ...
393     True
394     True
395     True
396     True
397     True
Name: cylinders, Length: 398, dtype: bool

In [43]:
#to see full data
data.loc[car4,:]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107.0,90,2430,14.5,70,2,audi 100 ls
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [46]:
carM=data['model year']==70

In [47]:
carM

0       True
1       True
2       True
3       True
4       True
       ...
393    False
394    False
395    False
396    False
397    False
Name: model year, Length: 398, dtype: bool

In [48]:
data.loc[carM,:]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107.0,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95,2375,17.5,70,2,saab 99e
23,26.0,4,121.0,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199.0,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360.0,215,4615,14.0,70,1,ford f250
26,10.0,8,307.0,200,4376,15.0,70,1,chevy c20
27,11.0,8,318.0,210,4382,13.5,70,1,dodge d200
28,9.0,8,304.0,193,4732,18.5,70,1,hi 1200d

### Combining two filters

In [49]:
data.loc[car4 & carM,:]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107.0,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95,2375,17.5,70,2,saab 99e
23,26.0,4,121.0,113,2234,12.5,70,2,bmw 2002

## Renaming column

In [3]:
#using dictionary substitution 
data=data.rename(columns={'car name':'car_name','model year':'model_year'})

In [4]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [52]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'car_name'],
      dtype='object')

In [53]:
#using list 
#only changing hoursepower to hp, but we need to list all the column names
data.columns=['mpg', 'cylinders', 'displacement', 'hp', 'weight',
       'acceleration', 'model_year', 'origin', 'car_name']

In [54]:
data.head()

,mpg,cylinders,displacement,hp,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

## Deleting Columns

In [5]:
#drop will allow to delete multiple columns
#need to assign..no change in source
data1=data.drop(columns=['origin'])

In [6]:
data1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130,3504,12.0,70,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,ford torino

In [7]:
#del command will edit the source file itself
#no need of assinging
del data1['displacement']

In [8]:
data1.head()

,mpg,cylinders,horsepower,weight,acceleration,model_year,car_name
0,18.0,8,130,3504,12.0,70,chevrolet chevelle malibu
1,15.0,8,165,3693,11.5,70,buick skylark 320
2,18.0,8,150,3436,11.0,70,plymouth satellite
3,16.0,8,150,3433,12.0,70,amc rebel sst
4,17.0,8,140,3449,10.5,70,ford torino

## Sum

In [9]:
#sum all the values in a particular column
data['weight'].sum()

1182229

In [10]:
#sum all the values in all columns
data.sum()

mpg                                                        9358.8
cylinders                                                    2171
displacement                                              76983.5
horsepower      1301651501501401982202152251901701601502259595...
weight                                                    1182229
acceleration                                               6196.1
model_year                                                  30252
origin                                                        626
car_name        chevrolet chevelle malibubuick skylark 320plym...
dtype: object

# Converting dataframes to Numpy array or dictionary

## To numpy array

In [23]:
#1st method
data.to_numpy()

array([[18.0, 8, 307.0, ..., 70, 1, 'chevrolet chevelle malibu'],
       [15.0, 8, 350.0, ..., 70, 1, 'buick skylark 320'],
       [18.0, 8, 318.0, ..., 70, 1, 'plymouth satellite'],
       ...,
       [32.0, 4, 135.0, ..., 82, 1, 'dodge rampage'],
       [28.0, 4, 120.0, ..., 82, 1, 'ford ranger'],
       [31.0, 4, 119.0, ..., 82, 1, 'chevy s-10']], dtype=object)

In [24]:
#2nd method
data.values

array([[18.0, 8, 307.0, ..., 70, 1, 'chevrolet chevelle malibu'],
       [15.0, 8, 350.0, ..., 70, 1, 'buick skylark 320'],
       [18.0, 8, 318.0, ..., 70, 1, 'plymouth satellite'],
       ...,
       [32.0, 4, 135.0, ..., 82, 1, 'dodge rampage'],
       [28.0, 4, 120.0, ..., 82, 1, 'ford ranger'],
       [31.0, 4, 119.0, ..., 82, 1, 'chevy s-10']], dtype=object)

In [33]:
#convert a column to numpy array
data['mpg'].values

array([18. , 15. , 18. , 16. , 17. , 15. , 14. , 14. , 14. , 15. , 15. ,
       14. , 15. , 14. , 24. , 22. , 18. , 21. , 27. , 26. , 25. , 24. ,
       25. , 26. , 21. , 10. , 10. , 11. ,  9. , 27. , 28. , 25. , 25. ,
       19. , 16. , 17. , 19. , 18. , 14. , 14. , 14. , 14. , 12. , 13. ,
       13. , 18. , 22. , 19. , 18. , 23. , 28. , 30. , 30. , 31. , 35. ,
       27. , 26. , 24. , 25. , 23. , 20. , 21. , 13. , 14. , 15. , 14. ,
       17. , 11. , 13. , 12. , 13. , 19. , 15. , 13. , 13. , 14. , 18. ,
       22. , 21. , 26. , 22. , 28. , 23. , 28. , 27. , 13. , 14. , 13. ,
       14. , 15. , 12. , 13. , 13. , 14. , 13. , 12. , 13. , 18. , 16. ,
       18. , 18. , 23. , 26. , 11. , 12. , 13. , 12. , 18. , 20. , 21. ,
       22. , 18. , 19. , 21. , 26. , 15. , 16. , 29. , 24. , 20. , 19. ,
       15. , 24. , 20. , 11. , 20. , 21. , 19. , 15. , 31. , 26. , 32. ,
       25. , 16. , 16. , 18. , 16. , 13. , 14. , 14. , 14. , 29. , 26. ,
       26. , 31. , 32. , 28. , 24. , 26. , 24. , 26. , 31. , 19. , 18. ,
       15. , 15. , 16. , 15. , 16. , 14. , 17. , 16. , 15. , 18. , 21. ,
       20. , 13. , 29. , 23. , 20. , 23. , 24. , 25. , 24. , 18. , 29. ,
       19. , 23. , 23. , 22. , 25. , 33. , 28. , 25. , 25. , 26. , 27. ,
       17.5, 16. , 15.5, 14.5, 22. , 22. , 24. , 22.5, 29. , 24.5, 29. ,
       33. , 20. , 18. , 18.5, 17.5, 29.5, 32. , 28. , 26.5, 20. , 13. ,
       19. , 19. , 16.5, 16.5, 13. , 13. , 13. , 31.5, 30. , 36. , 25.5,
       33.5, 17.5, 17. , 15.5, 15. , 17.5, 20.5, 19. , 18.5, 16. , 15.5,
       15.5, 16. , 29. , 24.5, 26. , 25.5, 30.5, 33.5, 30. , 30.5, 22. ,
       21.5, 21.5, 43.1, 36.1, 32.8, 39.4, 36.1, 19.9, 19.4, 20.2, 19.2,
       20.5, 20.2, 25.1, 20.5, 19.4, 20.6, 20.8, 18.6, 18.1, 19.2, 17.7,
       18.1, 17.5, 30. , 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3,
       17. , 21.6, 16.2, 31.5, 29.5, 21.5, 19.8, 22.3, 20.2, 20.6, 17. ,
       17.6, 16.5, 18.2, 16.9, 15.5, 19.2, 18.5, 31.9, 34.1, 35.7, 27.4,
       25.4, 23. , 27.2, 23.9, 34.2, 34.5, 31.8, 37.3, 28.4, 28.8, 26.8,
       33.5, 41.5, 38.1, 32.1, 37.2, 28. , 26.4, 24.3, 19.1, 34.3, 29.8,
       31.3, 37. , 32.2, 46.6, 27.9, 40.8, 44.3, 43.4, 36.4, 30. , 44.6,
       40.9, 33.8, 29.8, 32.7, 23.7, 35. , 23.6, 32.4, 27.2, 26.6, 25.8,
       23.5, 30. , 39.1, 39. , 35.1, 32.3, 37. , 37.7, 34.1, 34.7, 34.4,
       29.9, 33. , 34.5, 33.7, 32.4, 32.9, 31.6, 28.1, 30.7, 25.4, 24.2,
       22.4, 26.6, 20.2, 17.6, 28. , 27. , 34. , 31. , 29. , 27. , 24. ,
       23. , 36. , 37. , 31. , 38. , 36. , 36. , 36. , 34. , 38. , 32. ,
       38. , 25. , 38. , 26. , 22. , 32. , 36. , 27. , 27. , 44. , 32. ,
       28. , 31. ])

## To dictionary

In [25]:
data.to_dict()

{'mpg': {0: 18.0,
  1: 15.0,
  2: 18.0,
  3: 16.0,
  4: 17.0,
  5: 15.0,
  6: 14.0,
  7: 14.0,
  8: 14.0,
  9: 15.0,
  10: 15.0,
  11: 14.0,
  12: 15.0,
  13: 14.0,
  14: 24.0,
  15: 22.0,
  16: 18.0,
  17: 21.0,
  18: 27.0,
  19: 26.0,
  20: 25.0,
  21: 24.0,
  22: 25.0,
  23: 26.0,
  24: 21.0,
  25: 10.0,
  26: 10.0,
  27: 11.0,
  28: 9.0,
  29: 27.0,
  30: 28.0,
  31: 25.0,
  32: 25.0,
  33: 19.0,
  34: 16.0,
  35: 17.0,
  36: 19.0,
  37: 18.0,
  38: 14.0,
  39: 14.0,
  40: 14.0,
  41: 14.0,
  42: 12.0,
  43: 13.0,
  44: 13.0,
  45: 18.0,
  46: 22.0,
  47: 19.0,
  48: 18.0,
  49: 23.0,
  50: 28.0,
  51: 30.0,
  52: 30.0,
  53: 31.0,
  54: 35.0,
  55: 27.0,
  56: 26.0,
  57: 24.0,
  58: 25.0,
  59: 23.0,
  60: 20.0,
  61: 21.0,
  62: 13.0,
  63: 14.0,
  64: 15.0,
  65: 14.0,
  66: 17.0,
  67: 11.0,
  68: 13.0,
  69: 12.0,
  70: 13.0,
  71: 19.0,
  72: 15.0,
  73: 13.0,
  74: 13.0,
  75: 14.0,
  76: 18.0,
  77: 22.0,
  78: 21.0,
  79: 26.0,
  80: 22.0,
  81: 28.0,
  82: 23.0,
  83: 28.0,
  84: 27.0,
  85: 13.0,
  86: 14.0,
  87: 13.0,
  88: 14.0,
  89: 15.0,
  90: 12.0,
  91: 13.0,
  92: 13.0,
  93: 14.0,
  94: 13.0,
  95: 12.0,
  96: 13.0,
  97: 18.0,
  98: 16.0,
  99: 18.0,
  100: 18.0,
  101: 23.0,
  102: 26.0,
  103: 11.0,
  104: 12.0,
  105: 13.0,
  106: 12.0,
  107: 18.0,
  108: 20.0,
  109: 21.0,
  110: 22.0,
  111: 18.0,
  112: 19.0,
  113: 21.0,
  114: 26.0,
  115: 15.0,
  116: 16.0,
  117: 29.0,
  118: 24.0,
  119: 20.0,
  120: 19.0,
  121: 15.0,
  122: 24.0,
  123: 20.0,
  124: 11.0,
  125: 20.0,
  126: 21.0,
  127: 19.0,
  128: 15.0,
  129: 31.0,
  130: 26.0,
  131: 32.0,
  132: 25.0,
  133: 16.0,
  134: 16.0,
  135: 18.0,
  136: 16.0,
  137: 13.0,
  138: 14.0,
  139: 14.0,
  140: 14.0,
  141: 29.0,
  142: 26.0,
  143: 26.0,
  144: 31.0,
  145: 32.0,
  146: 28.0,
  147: 24.0,
  148: 26.0,
  149: 24.0,
  150: 26.0,
  151: 31.0,
  152: 19.0,
  153: 18.0,
  154: 15.0,
  155: 15.0,
  156: 16.0,
  157: 15.0,
  158: 16.0,
  159: 14.0,
  160: 17.0,
  161: 16.0,
  162: 15.0,
  163: 18.0,
  164: 21.0,
  165: 20.0,
  166: 13.0,
  167: 29.0,
  168: 23.0,
  169: 20.0,
  170: 23.0,
  171: 24.0,
  172: 25.0,
  173: 24.0,
  174: 18.0,
  175: 29.0,
  176: 19.0,
  177: 23.0,
  178: 23.0,
  179: 22.0,
  180: 25.0,
  181: 33.0,
  182: 28.0,
  183: 25.0,
  184: 25.0,
  185: 26.0,
  186: 27.0,
  187: 17.5,
  188: 16.0,
  189: 15.5,
  190: 14.5,
  191: 22.0,
  192: 22.0,
  193: 24.0,
  194: 22.5,
  195: 29.0,
  196: 24.5,
  197: 29.0,
  198: 33.0,
  199: 20.0,
  200: 18.0,
  201: 18.5,
  202: 17.5,
  203: 29.5,
  204: 32.0,
  205: 28.0,
  206: 26.5,
  207: 20.0,
  208: 13.0,
  209: 19.0,
  210: 19.0,
  211: 16.5,
  212: 16.5,
  213: 13.0,
  214: 13.0,
  215: 13.0,
  216: 31.5,
  217: 30.0,
  218: 36.0,
  219: 25.5,
  220: 33.5,
  221: 17.5,
  222: 17.0,
  223: 15.5,
  224: 15.0,
  225: 17.5,
  226: 20.5,
  227: 19.0,
  228: 18.5,
  229: 16.0,
  230: 15.5,
  231: 15.5,
  232: 16.0,
  233: 29.0,
  234: 24.5,
  235: 26.0,
  236: 25.5,
  237: 30.5,
  238: 33.5,
  239: 30.0,
  240: 30.5,
  241: 22.0,
  242: 21.5,
  243: 21.5,
  244: 43.1,
  245: 36.1,
  246: 32.8,
  247: 39.4,
  248: 36.1,
  249: 19.9,
  250: 19.4,
  251: 20.2,
  252: 19.2,
  253: 20.5,
  254: 20.2,
  255: 25.1,
  256: 20.5,
  257: 19.4,
  258: 20.6,
  259: 20.8,
  260: 18.6,
  261: 18.1,
  262: 19.2,
  263: 17.7,
  264: 18.1,
  265: 17.5,
  266: 30.0,
  267: 27.5,
  268: 27.2,
  269: 30.9,
  270: 21.1,
  271: 23.2,
  272: 23.8,
  273: 23.9,
  274: 20.3,
  275: 17.0,
  276: 21.6,
  277: 16.2,
  278: 31.5,
  279: 29.5,
  280: 21.5,
  281: 19.8,
  282: 22.3,
  283: 20.2,
  284: 20.6,
  285: 17.0,
  286: 17.6,
  287: 16.5,
  288: 18.2,
  289: 16.9,
  290: 15.5,
  291: 19.2,
  292: 18.5,
  293: 31.9,
  294: 34.1,
  295: 35.7,
  296: 27.4,
  297: 25.4,
  298: 23.0,
  299: 27.2,
  300: 23.9,
  301: 34.2,
  302: 34.5,
  303: 31.8,
  304: 37.3,
  305: 28.4,
  306: 28.8,
  307: 26.8,
  308: 33.5,
  309: 41.5,
  310: 38.1,
  311: 32.1,
  312: 37.2,
  313: 28.0,
  314: 26.4,
  315: 24.3,
  316: 19.1,
  317: 34.3,
  318: 29.8,
  319: 31.3,
  320: 37.0,
  321: 32.2,
  322: 46.6,
  323: 27.9,
  324: 40.8,
  325: 44.3,
  326: 43.4,
  327: 36.4,
  328: 30.0,
  329: 44.6,
  330: 40.9,
  331: 33.8,
  332: 29.8,
  333: 32.7,
  334: 23.7,
  335: 35.0,
  336: 23.6,
  337: 32.4,
  338: 27.2,
  339: 26.6,
  340: 25.8,
  341: 23.5,
  342: 30.0,
  343: 39.1,
  344: 39.0,
  345: 35.1,
  346: 32.3,
  347: 37.0,
  348: 37.7,
  349: 34.1,
  350: 34.7,
  351: 34.4,
  352: 29.9,
  353: 33.0,
  354: 34.5,
  355: 33.7,
  356: 32.4,
  357: 32.9,
  358: 31.6,
  359: 28.1,
  360: 30.7,
  361: 25.4,
  362: 24.2,
  363: 22.4,
  364: 26.6,
  365: 20.2,
  366: 17.6,
  367: 28.0,
  368: 27.0,
  369: 34.0,
  370: 31.0,
  371: 29.0,
  372: 27.0,
  373: 24.0,
  374: 23.0,
  375: 36.0,
  376: 37.0,
  377: 31.0,
  378: 38.0,
  379: 36.0,
  380: 36.0,
  381: 36.0,
  382: 34.0,
  383: 38.0,
  384: 32.0,
  385: 38.0,
  386: 25.0,
  387: 38.0,
  388: 26.0,
  389: 22.0,
  390: 32.0,
  391: 36.0,
  392: 27.0,
  393: 27.0,
  394: 44.0,
  395: 32.0,
  396: 28.0,
  397: 31.0},
 'cylinders': {0: 8,
  1: 8,
  2: 8,
  3: 8,
  4: 8,
  5: 8,
  6: 8,
  7: 8,
  8: 8,
  9: 8,
  10: 8,
  11: 8,
  12: 8,
  13: 8,
  14: 4,
  15: 6,
  16: 6,
  17: 6,
  18: 4,
  19: 4,
  20: 4,
  21: 4,
  22: 4,
  23: 4,
  24: 6,
  25: 8,
  26: 8,
  27: 8,
  28: 8,
  29: 4,
  30: 4,
  31: 4,
  32: 4,
  33: 6,
  34: 6,
  35: 6,
  36: 6,
  37: 6,
  38: 8,
  39: 8,
  40: 8,
  41: 8,
  42: 8,
  43: 8,
  44: 8,
  45: 6,
  46: 4,
  47: 6,
  48: 6,
  49: 4,
  50: 4,
  51: 4,
  52: 4,
  53: 4,
  54: 4,
  55: 4,
  56: 4,
  57: 4,
  58: 4,
  59: 4,
  60: 4,
  61: 4,
  62: 8,
  63: 8,
  64: 8,
  65: 8,
  66: 8,
  67: 8,
  68: 8,
  69: 8,
  70: 8,
  71: 3,
  72: 8,
  73: 8,
  74: 8,
  75: 8,
  76: 4,
  77: 4,
  78: 4,
  79: 4,
  80: 4,
  81: 4,
  82: 4,
  83: 4,
  84: 4,
  85: 8,
  86: 8,
  87: 8,
  88: 8,
  89: 8,
  90: 8,
  91: 8,
  92: 8,
  93: 8,
  94: 8,
  95: 8,
  96: 8,
  97: 6,
  98: 6,
  99: 6,
  100: 6,
  101: 6,
  102: 4,
  103: 8,
  104: 8,
  105: 8,
  106: 8,
  107: 6,
  108: 4,
  109: 4,
  110: 4,
  111: 3,
  112: 4,
  113: 6,
  114: 4,
  115: 8,
  116: 8,
  117: 4,
  118: 4,
  119: 4,
  120: 4,
  121: 8,
  122: 4,
  123: 6,
  124: 8,
  125: 6,
  126: 6,
  127: 6,
  128: 6,
  129: 4,
  130: 4,
  131: 4,
  132: 4,
  133: 6,
  134: 6,
  135: 6,
  136: 8,
  137: 8,
  138: 8,
  139: 8,
  140: 8,
  141: 4,
  142: 4,
  143: 4,
  144: 4,
  145: 4,
  146: 4,
  147: 4,
  148: 4,
  149: 4,
  150: 4,
  151: 4,
  152: 6,
  153: 6,
  154: 6,
  155: 6,
  156: 8,
  157: 8,
  158: 8,
  159: 8,
  160: 6,
  161: 6,
  162: 6,
  163: 6,
  164: 6,
  165: 8,
  166: 8,
  167: 4,
  168: 4,
  169: 6,
  170: 4,
  171: 4,
  172: 4,
  173: 4,
  174: 6,
  175: 4,
  176: 6,
  177: 4,
  178: 4,
  179: 4,
  180: 4,
  181: 4,
  182: 4,
  183: 4,
  184: 4,
  185: 4,
  186: 4,
  187: 8,
  188: 8,
  189: 8,
  190: 8,
  191: 6,
  192: 6,
  193: 6,
  194: 6,
  195: 4,
  196: 4,
  197: 4,
  198: 4,
  199: 6,
  200: 6,
  201: 6,
  202: 6,
  203: 4,
  204: 4,
  205: 4,
  206: 4,
  207: 4,
  208: 8,
  209: 4,
  210: 6,
  211: 6,
  212: 8,
  213: 8,
  214: 8,
  215: 8,
  216: 4,
  217: 4,
  218: 4,
  219: 4,
  220: 4,
  221: 8,
  222: 8,
  223: 8,
  224: 8,
  225: 6,
  226: 6,
  227: 6,
  228: 6,
  229: 8,
  230: 8,
  231: 8,
  232: 8,
  233: 4,
  234: 4,
  235: 4,
  236: 4,
  237: 4,
  238: 4,
  239: 4,
  240: 4,
  241: 6,
  242: 4,
  243: 3,
  244: 4,
  245: 4,
  246: 4,
  247: 4,
  248: 4,
  249: 8,
  250: 8,
  251: 8,
  252: 6,
  253: 6,
  254: 6,
  255: 4,
  256: 6,
  257: 6,
  258: 6,
  259: 6,
  260: 6,
  261: 6,
  262: 8,
  263: 6,
  264: 8,
  265: 8,
  266: 4,
  267: 4,
  268: 4,
  269: 4,
  270: 4,
  271: 4,
  272: 4,
  273: 4,
  274: 5,
  275: 6,
  276: 4,
  277: 6,
  278: 4,
  279: 4,
  280: 6,
  281: 6,
  282: 4,
  283: 6,
  284: 6,
  285: 8,
  286: 8,
  287: 8,
  288: 8,
  289: 8,
  290: 8,
  291: 8,
  292: 8,
  293: 4,
  294: 4,
  295: 4,
  296: 4,
  297: 5,
  298: 8,
  299: 4,
  300: 8,
  301: 4,
  302: 4,
  303: 4,
  304: 4,
  305: 4,
  306: 6,
  307: 6,
  308: 4,
  309: 4,
  310: 4,
  311: 4,
  312: 4,
  313: 4,
  314: 4,
  315: 4,
  316: 6,
  317: 4,
  318: 4,
  319: 4,
  320: 4,
  321: 4,
  322: 4,
  323: 4,
  324: 4,
  325: 4,
  326: 4,
  327: 5,
  328: 4,
  329: 4,
  330: 4,
  331: 4,
  332: 4,
  333: 6,
  334: 3,
  335: 4,
  336: 4,
  337: 4,
  338: 4,
  339: 4,
  340: 4,
  341: 6,
  342: 4,
  343: 4,
  344: 4,
  345: 4,
  346: 4,
  347: 4,
  348: 4,
  349: 4,
  350: 4,
  351: 4,
  352: 4,
  353: 4,
  354: 4,
  355: 4,
  356: 4,
  357: 4,
  358: 4,
  359: 4,
  360: 6,
  361: 6,
  362: 6,
  363: 6,
  364: 8,
  365: 6,
  366: 6,
  367: 4,
  368: 4,
  369: 4,
  370: 4,
  371: 4,
  372: 4,
  373: 4,
  374: 4,
  375: 4,
  376: 4,
  377: 4,
  378: 4,
  379: 4,
  380: 4,
  381: 4,
  382: 4,
  383: 4,
  384: 4,
  385: 4,
  386: 6,
  387: 6,
  388: 4,
  389: 6,
  390: 4,
  391: 4,
  392: 4,
  393: 4,
  394: 4,
  395: 4,
  396: 4,
  397: 4},
 'displacement': {0: 307.0,
  1: 350.0,
  2: 318.0,
  3: 304.0,
  4: 302.0,
  5: 429.0,
  6: 454.0,
  7: 440.0,
  8: 455.0,
  9: 390.0,
  10: 383.0,
  11: 340.0,
  12: 400.0,
  13: 455.0,
  14: 113.0,
  15: 198.0,
  16: 199.0,
  17: 200.0,
  18: 97.0,
  19: 97.0,
  20: 110.0,
  21: 107.0,
  22: 104.0,
  23: 121.0,
  24: 199.0,
  25: 360.0,
  26: 307.0,
  27: 318.0,
  28: 304.0,
  29: 97.0,
  30: 140.0,
  31: 113.0,
  32: 98.0,
  33: 232.0,
  34: 225.0,
  35: 250.0,
  36: 250.0,
  37: 232.0,
  38: 350.0,
  39: 400.0,
  40: 351.0,
  41: 318.0,
  42: 383.0,
  43: 400.0,
  44: 400.0,
  45: 258.0,
  46: 140.0,
  47: 250.0,
  48: 250.0,
  49: 122.0,
  50: 116.0,
  51: 79.0,
  52: 88.0,
  53: 71.0,
  54: 72.0,
  55: 97.0,
  56: 91.0,
  57: 113.0,
  58: 97.5,
  59: 97.0,
  60: 140.0,
  61: 122.0,
  62: 350.0,
  63: 400.0,
  64: 318.0,
  65: 351.0,
  66: 304.0,
  67: 429.0,
  68: 350.0,
  69: 350.0,
  70: 400.0,
  71: 70.0,
  72: 304.0,
  73: 307.0,
  74: 302.0,
  75: 318.0,
  76: 121.0,
  77: 121.0,
  78: 120.0,
  79: 96.0,
  80: 122.0,
  81: 97.0,
  82: 120.0,
  83: 98.0,
  84: 97.0,
  85: 350.0,
  86: 304.0,
  87: 350.0,
  88: 302.0,
  89: 318.0,
  90: 429.0,
  91: 400.0,
  92: 351.0,
  93: 318.0,
  94: 440.0,
  95: 455.0,
  96: 360.0,
  97: 225.0,
  98: 250.0,
  99: 232.0,
  100: 250.0,
  101: 198.0,
  102: 97.0,
  103: 400.0,
  104: 400.0,
  105: 360.0,
  106: 350.0,
  107: 232.0,
  108: 97.0,
  109: 140.0,
  110: 108.0,
  111: 70.0,
  112: 122.0,
  113: 155.0,
  114: 98.0,
  115: 350.0,
  116: 400.0,
  117: 68.0,
  118: 116.0,
  119: 114.0,
  120: 121.0,
  121: 318.0,
  122: 121.0,
  123: 156.0,
  124: 350.0,
  125: 198.0,
  126: 200.0,
  127: 232.0,
  128: 250.0,
  129: 79.0,
  130: 122.0,
  131: 71.0,
  132: 140.0,
  133: 250.0,
  134: 258.0,
  135: 225.0,
  136: 302.0,
  137: 350.0,
  138: 318.0,
  139: 302.0,
  140: 304.0,
  141: 98.0,
  142: 79.0,
  143: 97.0,
  144: 76.0,
  145: 83.0,
  146: 90.0,
  147: 90.0,
  148: 116.0,
  149: 120.0,
  150: 108.0,
  151: 79.0,
  152: 225.0,
  153: 250.0,
  154: 250.0,
  155: 250.0,
  156: 400.0,
  157: 350.0,
  158: 318.0,
  159: 351.0,
  160: 231.0,
  161: 250.0,
  162: 258.0,
  163: 225.0,
  164: 231.0,
  165: 262.0,
  166: 302.0,
  167: 97.0,
  168: 140.0,
  169: 232.0,
  170: 140.0,
  171: 134.0,
  172: 90.0,
  173: 119.0,
  174: 171.0,
  175: 90.0,
  176: 232.0,
  177: 115.0,
  178: 120.0,
  179: 121.0,
  180: 121.0,
  181: 91.0,
  182: 107.0,
  183: 116.0,
  184: 140.0,
  185: 98.0,
  186: 101.0,
  187: 305.0,
  188: 318.0,
  189: 304.0,
  190: 351.0,
  191: 225.0,
  192: 250.0,
  193: 200.0,
  194: 232.0,
  195: 85.0,
  196: 98.0,
  197: 90.0,
  198: 91.0,
  199: 225.0,
  200: 250.0,
  201: 250.0,
  202: 258.0,
  203: 97.0,
  204: 85.0,
  205: 97.0,
  206: 140.0,
  207: 130.0,
  208: 318.0,
  209: 120.0,
  210: 156.0,
  211: 168.0,
  212: 350.0,
  213: 350.0,
  214: 302.0,
  215: 318.0,
  216: 98.0,
  217: 111.0,
  218: 79.0,
  219: 122.0,
  220: 85.0,
  221: 305.0,
  222: 260.0,
  223: 318.0,
  224: 302.0,
  225: 250.0,
  226: 231.0,
  227: 225.0,
  228: 250.0,
  229: 400.0,
  230: 350.0,
  231: 400.0,
  232: 351.0,
  233: 97.0,
  234: 151.0,
  235: 97.0,
  236: 140.0,
  237: 98.0,
  238: 98.0,
  239: 97.0,
  240: 97.0,
  241: 146.0,
  242: 121.0,
  243: 80.0,
  244: 90.0,
  245: 98.0,
  246: 78.0,
  247: 85.0,
  248: 91.0,
  249: 260.0,
  250: 318.0,
  251: 302.0,
  252: 231.0,
  253: 200.0,
  254: 200.0,
  255: 140.0,
  256: 225.0,
  257: 232.0,
  258: 231.0,
  259: 200.0,
  260: 225.0,
  261: 258.0,
  262: 305.0,
  263: 231.0,
  264: 302.0,
  265: 318.0,
  266: 98.0,
  267: 134.0,
  268: 119.0,
  269: 105.0,
  270: 134.0,
  271: 156.0,
  272: 151.0,
  273: 119.0,
  274: 131.0,
  275: 163.0,
  276: 121.0,
  277: 163.0,
  278: 89.0,
  279: 98.0,
  280: 231.0,
  281: 200.0,
  282: 140.0,
  283: 232.0,
  284: 225.0,
  285: 305.0,
  286: 302.0,
  287: 351.0,
  288: 318.0,
  289: 350.0,
  290: 351.0,
  291: 267.0,
  292: 360.0,
  293: 89.0,
  294: 86.0,
  295: 98.0,
  296: 121.0,
  297: 183.0,
  298: 350.0,
  299: 141.0,
  300: 260.0,
  301: 105.0,
  302: 105.0,
  303: 85.0,
  304: 91.0,
  305: 151.0,
  306: 173.0,
  307: 173.0,
  308: 151.0,
  309: 98.0,
  310: 89.0,
  311: 98.0,
  312: 86.0,
  313: 151.0,
  314: 140.0,
  315: 151.0,
  316: 225.0,
  317: 97.0,
  318: 134.0,
  319: 120.0,
  320: 119.0,
  321: 108.0,
  322: 86.0,
  323: 156.0,
  324: 85.0,
  325: 90.0,
  326: 90.0,
  327: 121.0,
  328: 146.0,
  329: 91.0,
  330: 85.0,
  331: 97.0,
  332: 89.0,
  333: 168.0,
  334: 70.0,
  335: 122.0,
  336: 140.0,
  337: 107.0,
  338: 135.0,
  339: 151.0,
  340: 156.0,
  341: 173.0,
  342: 135.0,
  343: 79.0,
  344: 86.0,
  345: 81.0,
  346: 97.0,
  347: 85.0,
  348: 89.0,
  349: 91.0,
  350: 105.0,
  351: 98.0,
  352: 98.0,
  353: 105.0,
  354: 100.0,
  355: 107.0,
  356: 108.0,
  357: 119.0,
  358: 120.0,
  359: 141.0,
  360: 145.0,
  361: 168.0,
  362: 146.0,
  363: 231.0,
  364: 350.0,
  365: 200.0,
  366: 225.0,
  367: 112.0,
  368: 112.0,
  369: 112.0,
  370: 112.0,
  371: 135.0,
  372: 151.0,
  373: 140.0,
  374: 151.0,
  375: 105.0,
  376: 91.0,
  377: 91.0,
  378: 105.0,
  379: 98.0,
  380: 120.0,
  381: 107.0,
  382: 108.0,
  383: 91.0,
  384: 91.0,
  385: 91.0,
  386: 181.0,
  387: 262.0,
  388: 156.0,
  389: 232.0,
  390: 144.0,
  391: 135.0,
  392: 151.0,
  393: 140.0,
  394: 97.0,
  395: 135.0,
  396: 120.0,
  397: 119.0},
 'horsepower': {0: '130',
  1: '165',
  2: '150',
  3: '150',
  4: '140',
  5: '198',
  6: '220',
  7: '215',
  8: '225',
  9: '190',
  10: '170',
  11: '160',
  12: '150',
  13: '225',
  14: '95',
  15: '95',
  16: '97',
  17: '85',
  18: '88',
  19: '46',
  20: '87',
  21: '90',
  22: '95',
  23: '113',
  24: '90',
  25: '215',
  26: '200',
  27: '210',
  28: '193',
  29: '88',
  30: '90',
  31: '95',
  32: '?',
  33: '100',
  34: '105',
  35: '100',
  36: '88',
  37: '100',
  38: '165',
  39: '175',
  40: '153',
  41: '150',
  42: '180',
  43: '170',
  44: '175',
  45: '110',
  46: '72',
  47: '100',
  48: '88',
  49: '86',
  50: '90',
  51: '70',
  52: '76',
  53: '65',
  54: '69',
  55: '60',
  56: '70',
  57: '95',
  58: '80',
  59: '54',
  60: '90',
  61: '86',
  62: '165',
  63: '175',
  64: '150',
  65: '153',
  66: '150',
  67: '208',
  68: '155',
  69: '160',
  70: '190',
  71: '97',
  72: '150',
  73: '130',
  74: '140',
  75: '150',
  76: '112',
  77: '76',
  78: '87',
  79: '69',
  80: '86',
  81: '92',
  82: '97',
  83: '80',
  84: '88',
  85: '175',
  86: '150',
  87: '145',
  88: '137',
  89: '150',
  90: '198',
  91: '150',
  92: '158',
  93: '150',
  94: '215',
  95: '225',
  96: '175',
  97: '105',
  98: '100',
  99: '100',
  100: '88',
  101: '95',
  102: '46',
  103: '150',
  104: '167',
  105: '170',
  106: '180',
  107: '100',
  108: '88',
  109: '72',
  110: '94',
  111: '90',
  112: '85',
  113: '107',
  114: '90',
  115: '145',
  116: '230',
  117: '49',
  118: '75',
  119: '91',
  120: '112',
  121: '150',
  122: '110',
  123: '122',
  124: '180',
  125: '95',
  126: '?',
  127: '100',
  128: '100',
  129: '67',
  130: '80',
  131: '65',
  132: '75',
  133: '100',
  134: '110',
  135: '105',
  136: '140',
  137: '150',
  138: '150',
  139: '140',
  140: '150',
  141: '83',
  142: '67',
  143: '78',
  144: '52',
  145: '61',
  146: '75',
  147: '75',
  148: '75',
  149: '97',
  150: '93',
  151: '67',
  152: '95',
  153: '105',
  154: '72',
  155: '72',
  156: '170',
  157: '145',
  158: '150',
  159: '148',
  160: '110',
  161: '105',
  162: '110',
  163: '95',
  164: '110',
  165: '110',
  166: '129',
  167: '75',
  168: '83',
  169: '100',
  170: '78',
  171: '96',
  172: '71',
  173: '97',
  174: '97',
  175: '70',
  176: '90',
  177: '95',
  178: '88',
  179: '98',
  180: '115',
  181: '53',
  182: '86',
  183: '81',
  184: '92',
  185: '79',
  186: '83',
  187: '140',
  188: '150',
  189: '120',
  190: '152',
  191: '100',
  192: '105',
  193: '81',
  194: '90',
  195: '52',
  196: '60',
  197: '70',
  198: '53',
  199: '100',
  200: '78',
  201: '110',
  202: '95',
  203: '71',
  204: '70',
  205: '75',
  206: '72',
  207: '102',
  208: '150',
  209: '88',
  210: '108',
  211: '120',
  212: '180',
  213: '145',
  214: '130',
  215: '150',
  216: '68',
  217: '80',
  218: '58',
  219: '96',
  220: '70',
  221: '145',
  222: '110',
  223: '145',
  224: '130',
  225: '110',
  226: '105',
  227: '100',
  228: '98',
  229: '180',
  230: '170',
  231: '190',
  232: '149',
  233: '78',
  234: '88',
  235: '75',
  236: '89',
  237: '63',
  238: '83',
  239: '67',
  240: '78',
  241: '97',
  242: '110',
  243: '110',
  244: '48',
  245: '66',
  246: '52',
  247: '70',
  248: '60',
  249: '110',
  250: '140',
  251: '139',
  252: '105',
  253: '95',
  254: '85',
  255: '88',
  256: '100',
  257: '90',
  258: '105',
  259: '85',
  260: '110',
  261: '120',
  262: '145',
  263: '165',
  264: '139',
  265: '140',
  266: '68',
  267: '95',
  268: '97',
  269: '75',
  270: '95',
  271: '105',
  272: '85',
  273: '97',
  274: '103',
  275: '125',
  276: '115',
  277: '133',
  278: '71',
  279: '68',
  280: '115',
  281: '85',
  282: '88',
  283: '90',
  284: '110',
  285: '130',
  286: '129',
  287: '138',
  288: '135',
  289: '155',
  290: '142',
  291: '125',
  292: '150',
  293: '71',
  294: '65',
  295: '80',
  296: '80',
  297: '77',
  298: '125',
  299: '71',
  300: '90',
  301: '70',
  302: '70',
  303: '65',
  304: '69',
  305: '90',
  306: '115',
  307: '115',
  308: '90',
  309: '76',
  310: '60',
  311: '70',
  312: '65',
  313: '90',
  314: '88',
  315: '90',
  316: '90',
  317: '78',
  318: '90',
  319: '75',
  320: '92',
  321: '75',
  322: '65',
  323: '105',
  324: '65',
  325: '48',
  326: '48',
  327: '67',
  328: '67',
  329: '67',
  330: '?',
  331: '67',
  332: '62',
  333: '132',
  334: '100',
  335: '88',
  336: '?',
  337: '72',
  338: '84',
  339: '84',
  340: '92',
  341: '110',
  342: '84',
  343: '58',
  344: '64',
  345: '60',
  346: '67',
  347: '65',
  348: '62',
  349: '68',
  350: '63',
  351: '65',
  352: '65',
  353: '74',
  354: '?',
  355: '75',
  356: '75',
  357: '100',
  358: '74',
  359: '80',
  360: '76',
  361: '116',
  362: '120',
  363: '110',
  364: '105',
  365: '88',
  366: '85',
  367: '88',
  368: '88',
  369: '88',
  370: '85',
  371: '84',
  372: '90',
  373: '92',
  374: '?',
  375: '74',
  376: '68',
  377: '68',
  378: '63',
  379: '70',
  380: '88',
  381: '75',
  382: '70',
  383: '67',
  384: '67',
  385: '67',
  386: '110',
  387: '85',
  388: '92',
  389: '112',
  390: '96',
  391: '84',
  392: '90',
  393: '86',
  394: '52',
  395: '84',
  396: '79',
  397: '82'},
 'weight': {0: 3504,
  1: 3693,
  2: 3436,
  3: 3433,
  4: 3449,
  5: 4341,
  6: 4354,
  7: 4312,
  8: 4425,
  9: 3850,
  10: 3563,
  11: 3609,
  12: 3761,
  13: 3086,
  14: 2372,
  15: 2833,
  16: 2774,
  17: 2587,
  18: 2130,
  19: 1835,
  20: 2672,
  21: 2430,
  22: 2375,
  23: 2234,
  24: 2648,
  25: 4615,
  26: 4376,
  27: 4382,
  28: 4732,
  29: 2130,
  30: 2264,
  31: 2228,
  32: 2046,
  33: 2634,
  34: 3439,

# Eport Pandas DataFrames to CSV or Excel files

In [28]:
#to CSV file
data1.to_csv(path_or_buf='trial.csv',index=False)
#index=False means index is not included in the file

In [31]:
#to Excel file
data1.to_excel(excel_writer='trial1.xlsx',index=False)

In [32]:
#to know method parameter or anything use help
help(data1.to_csv)

Help on method to_csv in module pandas.core.generic:

to_csv(path_or_buf: 'Optional[FilePathOrBuffer]' = None, sep: 'str' = ',', na_rep: 'str' = '', float_format: 'Optional[str]' = None, columns: 'Optional[Sequence[Label]]' = None, header: 'Union[bool_t, List[str]]' = True, index: 'bool_t' = True, index_label: 'Optional[IndexLabel]' = None, mode: 'str' = 'w', encoding: 'Optional[str]' = None, compression: 'CompressionOptions' = 'infer', quoting: 'Optional[int]' = None, quotechar: 'str' = '"', line_terminator: 'Optional[str]' = None, chunksize: 'Optional[int]' = None, date_format: 'Optional[str]' = None, doublequote: 'bool_t' = True, escapechar: 'Optional[str]' = None, decimal: 'str' = '.', errors: 'str' = 'strict', storage_options: 'StorageOptions' = None) -> 'Optional[str]' method of pandas.core.frame.DataFrame instance
    Write object to a comma-separated values (csv) file.

    .. versionchanged:: 0.24.0
        The order of arguments for Series was changed.

    Parameters
    ----------
    path_or_buf : str or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.  If a non-binary file object is passed, it should be opened
        with `newline=''`, disabling universal newlines. If a binary
        file object is passed, `mode` might need to contain a `'b'`.

        .. versionchanged:: 0.24.0

           Was previously named "path" for Series.

        .. versionchanged:: 1.2.0

           Support for binary file objects was introduced.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, default None
        Format string for floating point numbers.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.

        .. versionchanged:: 0.24.0

           Previously defaulted to False for Series.

    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str
        Python write mode, default 'w'.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
        is a non-binary file object.
    compression : str or dict, default 'infer'
        If str, represents compression mode. If dict, value at 'method' is
        the compression mode. Compression mode may be any of the following
        possible values: {'infer', 'gzip', 'bz2', 'zip', 'xz', None}. If
        compression mode is 'infer' and `path_or_buf` is path-like, then
        detect compression mode from the following extensions: '.gz',
        '.bz2', '.zip' or '.xz'. (otherwise no compression). If dict given
        and mode is one of {'zip', 'gzip', 'bz2'}, or inferred as
        one of the above, other entries passed as
        additional compression options.

        .. versionchanged:: 1.0.0

           May now be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

        .. versionchanged:: 1.1.0

           Passing compression options as keys in dict is
           supported for compression modes 'gzip' and 'bz2'
           as well as 'zip'.

        .. versionchanged:: 1.2.0

            Compression is supported for binary file objects.

        .. versionchanged:: 1.2.0

            Previous versions forwarded dict entries for 'gzip' to
            `gzip.open` instead of `gzip.GzipFile` which prevented
            setting `mtime`.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    line_terminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\n' for linux, '\r\n' for Windows, i.e.).

        .. versionchanged:: 0.24.0
    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.
    errors : str, default 'strict'
        Specifies how encoding and decoding errors are to be handled.
        See the errors argument for :func:`open` for a full list
        of options.

        .. versionadded:: 1.1.0

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc., if using a URL that will
        be parsed by ``fsspec``, e.g., starting "s3://", "gcs://". An error
        will be raised if providing this argument with a non-fsspec URL.
        See the fsspec and backend storage implementation docs for the set of
        allowed keys and values.

        .. versionadded:: 1.2.0

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

    Create 'out.zip' containing 'out.csv'

    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP